---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About • Hilarious Horizon">
  <h1>About</h1>
  <p>This is a lab for WEB2 development using Astro.</p>
  <p>- Ellie</p>
</BaseLayout>
