---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home • Hilarious Horizon">
  <section class="hero card">
    <h1>Web 2 - Astro Lab Day</h1>
    <p>This is a lab for exploring Astro</p>
    <div>
      <a class="cta" href="/projects">Browse Projects</a>
      <a class="cta" style="margin-left:.5rem;" href="/blog">Read the Blog</a>
    </div>
  </section>
  <section style="margin-top:1rem;" class="card">
    <h2>What is this?</h2>
    <p>This site is for web2 lab <strong>WEB2</strong> using the <code>astro</code></p>
  </section>
</BaseLayout>
